.navbar {
    
    align-items: center;
    max-width: 100%;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #c5796d;

    & img {
        height: 43px;
        width: 43px;
    }
    &__menus {
        display: flex;
        justify-content: flex-end;
    }
    &__menu {
        color: pink;
        text-decoration: none;
        padding: 20px;
        font-size: 2rem;

        @media (max-width: 768px) {
            padding: 10px;
            font-size: 12px;
        }

        &:hover {
            text-decoration: underline;
        }

        &.active {
            text-decoration: underline;
        }
    }

    @media (max-width: 768px) {
        font-size: 12px;
        text-transform: uppercase;
        margin: 5% auto;

        &__logo {
            width: 50%;
        }

        & img {
            height: 43px;
            width: auto;
        }
    }
}
