.footer {
    background-color: #8a4038;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__msg {
        color: #ffffff;
        font-size: 1rem;

        @media (max-width: 768px) {
            width: 100%;
            font-size: 0.75rem;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: center;
        }
    }
    @media (max-width: 768px) {
        padding: 5px 0;
    }
}
