.banner {
    background: linear-gradient(#c5796d, #dbe6f6);
    margin: 0;
    width: 100%;
    height: calc(100vh - 52px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @media (max-width: 768px) {
        margin-bottom: 22px;
    }
}

h3 {
    color: rgb(127, 36, 51);
    font-size: 4rem;
}
.banner-photo img {
    width: 50%;

}
